@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html, body {
    background-color: #8cadce;
    font-family: 'Comfortaa', cursive;
}

h1 {
    color: #b86d3c;
    text-align: center;
}