<!DOCTYPE html>
<head>
    <title>gearGraph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>

<body>
    <header>
        GearGraph
    </header>
    <h2>Tagline goes here</h2>
    <div>Your source for knowing what size placements your rack will fit, and how you can best build it out.</div>
    <a href='/graph'>Get Started</a>
    <footer>
        <h3>Some info about the site is on our <a href='/about'>about page</a>.</h3>
        <a href='www.backcountry.com'>Click here to contribute</a>
    </footer>
</body>